.bar
{
    height: 10vh;
    background-color: white;
    
    
}

.nav-child.nav-child
{
    display: flex;
    justify-content: right;
    padding-top: 40px;
    padding-right: 40px;
    
}
.list
{
    padding-right: 20px;
}
.navbar-logo
{
    padding-left: 20px;
}

.box
{
    width:  500px;
    border: 5px solid brown;
    margin-top: 30px;
    background-color: burlywood;
    color: black;
    padding: 20px;
    margin-left: 50px;
}

.header
{
    font-size: 40px;
    color: brown;
}

.bodycont
{
    font-size: 20px;
    padding-top: 20px;
}