body {
    background-image: url(hacktoberfest2022.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Arimo', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    color: rgb(226, 153, 153);
    
}